
#titulo¨{
    text-align: center;
    font-size: 48px;
    background-color: coral;
    background: -webkit-linear-gradient(top, blue, #9DE8F1);
    background: -ms-linear-gradient(top, blue, #9DE8F1);
    width: 50%;
    border-radius: 30px;
    margin: 40px auto;
    padding: 15px;
    color: white;
    box-shadow: grey 15px 15px 15px;
    text-shadow: black 2px 2px 2px;
}